@font-face {
    font-family: 'khmer';
    src: url('../../assets/font/font_khmer.ttf') format('woff2');
}

@font-face {
    font-family: "bokor";
    src: url('../../assets/font/font_bokor.ttf') format('woff2');
}

@font-face {
    font-family: 'moul';
    src: url('../../assets/font/font_moul.ttf') format('woff2');
}

@font-face {
    font-family: "fasthand";
    src: url('../../assets/font/font_fasthand.ttf') format('woff2');
}

@font-face {
    font-family: 'akaya';
    src: url('../../assets/font/font-akayaKanadaka.ttf') format('woff2');
}